body {
  font-family:"PT Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  height:71px;
  width: 140px;
  position: absolute;
  transform: translateX(-50%);
}

.main-navigation{
  background-color: #ffffff;
  padding-right: 40px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 72px;
  padding-right: 76px;
  padding-top: 22px;
  margin: 0px;
  padding-bottom: 22px;
}

.advantage{
  background-image: url("../img/fon.png");
  background-repeat: no-repeat;
}

.advantage img {
  padding-left:410px;
  padding-top: 132px;
}

h1 {
  line-height: 26px;
  padding-top: 79px;
  padding-bottom: 38px;
}

.advantage p {
  line-height: 26px;
  font-size: 14px;
  padding-bottom: 56px;
}

.city {
  background-color: #81b3d2;
}

.main-city {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}
.city p {
  color: #ffffff;
}

.benefits ul {
  display: flex;
  justify-content: space-between;
}

.benefits h2 {
  font-size: 21px;
  line-height: 21px;
}
.benefits-housing {
  color: #333333;
}

.benefits-food {
  text-align: center;
  color: #333333;
}

.benefits-souvenirs {
  color: #333333;
}

.bridge {
  background-color: #81b3d2;
}

.bridge h2 {
  font-size: 21px;
  color: #ffffff;
}

.bridge p {
  color: #ffffff;
}

.article h2 {
  font-size: 21px;
}

.article p {
  font-size: 14px;
}

.reservation h2 {
  font-size: 30px;
  line-height: 36px;
}

.reservation p {
  line-height: 24px;
  color: #333333;
}

.contacts {
  font-size:21px;
  line-height: 26px;
  background-color: #ffffff;
}

.social-logo {
  line-height: 26px;
}

.contacts img {
  background-color: #333333;
}
