html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family:"PT Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.container {
  width: 100%;
  padding-left: 73px;
  padding-right: 73px;
}

a {
  text-decoration: none;
}

.logo {
  height:71px;
  width: 140px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.main-navigation{
  background-color: #ffffff;
  margin: 0 auto;

}

.site-navigation {
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.site-navigation a {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.advantage{
  background-image: url("../img/fon.png");
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.advantage img {
  position: relative;
  margin-top:160px;
}

.advantage h1 {
  background-color: #ffffff;
  padding-top: 59px;
  padding-bottom: 20px;
  margin: 0;
 }

.advantage p {
  background-color: #ffffff;
  line-height: 26px;
  padding-bottom: 39px;
  margin: 0;
}

.city {
  display: flex;
  flex-direction: row-reverse;
  background-color: #81b3d2;
  color: #ffffff;
}

.main-city {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.main-city h2 {
  font-size: 21px;
}

.benefits ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 41px;
  margin-bottom: 66px;
}

.benefits h2 {
  font-size: 21px;
}

.benefits-housing {
  color: #333333;
  width: 255px;
}

.benefits-food {
  color: #333333;
  width: 290px;
}

.benefits-souvenirs {
  color: #333333;
  width: 280px;
  margin-right: 65px;
}

.bridge {
  background-color: #81b3d2;
  display: flex;
}

.bridge-info {
  width: 305px;
  margin: 0 auto;
  padding-top: 50px;
  color: #ffffff;
}

.bridge h2 {
  font-size: 21px;
  color: #ffffff;
}

.article ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 50px;
}

.article h2 {
  font-size: 21px;
}

.article-area {
  width: 208px;
}
.article-route {
  width: 270px;
}

.article-tourist {
  width: 250px;
}

.reservation {
  background-color: #ffffff;
}

.reservation h2 {
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;
}

.reservation p {
  line-height: 24px;
  color: #333333;
  width: 440px;
  margin-left: 380px;
  padding-bottom: 55px;
}

.search {
  margin: 0;
}
.map {
  background-color: #81b3d2;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  width: 100%;
}
.polygon {
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 59px;
}
.footer-info {
  background-color: #ffffff;
  margin: 0 auto;
}

.contacts {
  font-size:21px;
  line-height: 26px;
  width: 230px;
}

.social-logo {
  line-height: 26px;
}

.contacts img {
  background-color: #333333;
}

.footer-social li {
  margin: 6px;
  width: 45px;
  height: 45px;
  background-color: #81b3d2;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.hotels-wrapper {
  display: flex;
  justify-content: flex-start;
}

.hotels {
  background-color: #ffffff;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;

}
.hotels-info {
  width: 280px;
  margin: 0;
  margin-right: auto;
  margin-left: 31px;
  padding: 0;
  text-align: left;
}

.rating {
  width: 120px;
}
.rating ul {
  display: flex;
  justify-content: space-between;
}
.hotels-info a {
  margin-right: 7px;
}

.hotels-info h3 {
  margin: 0;
}
.span {
  margin-left: 10px;
}

